@charset "UTF-8";
h1{text-align:center;}

.card-container{
    display:flex;
    max-width: 470px;
    height: 250px;
    margin: 20px auto;
}

.card-img img{
    width:100%;
    height:100%;
}
.card-container01{
    display:flex;
    max-width: 490px;
    height: 250px;
    margin: 20px auto;
}
.card-img01 img{
    width:100%;
    height:100%;
}

.card-container02{
    display:flex;
    max-width: 600px;
    height: 250px;
    margin: 20px auto;
}

.card-img02 img{
    width:100%;
    height:100%;
}